.aboutTheCompanyPhotoCarousel__section {
  width: 580px;
   position: relative;
   overflow: hidden;
}

.aboutTheCompanyPhotoCarousel__track {
  display: flex;
}
.aboutTheCompanyPhotoCarousel__img {
  width: 100%;
  object-fit: cover;
  height: 315px;
  flex-shrink: 0;
}
