.textArea {
  height: 60px;
  padding: 17px 20px 0px;
   font-family: 'Montserrat';
}

.textAreaErrors{
  border-color: red;
   font-family: 'Montserrat';
}

.textAreaErrors:focus{
  border-color: red;
  outline-color:red;
  outline:none;
  font-family: 'Montserrat';
}

.textAreaErrors:active{
  border-color: red;
  outline-color:red;
  outline:none;
  font-family: 'Montserrat';
}

.textArea__errorMassage{
  color: red;
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 300 800;
}