.modal__container{
    padding: 40px 45px;
    width: 660px;
    /* min-height: 735px; */
    height: auto;
}

.modal__header{
    color: #1b2c50;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.23;
    margin-bottom: 10px;
}

.modal__subheader{
    color: #1b2c50;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 10px;
}

.InputForms{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.TextArea{
    height: 100px;
    padding: 17px 20px 0px;


}
.modal__loadForm{
    display: flex;
    flex-direction: column;
}
.LoadSpan{
    font-family: 'Montserrat', Arial, sans-serif;
    color: #000000;
    line-height: 1.55;
    font-size: 20px;
}
.SubmitSpan{
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    color: #000000;
    line-height: 1.55;
    font-size: 14px;
}

.ButtonInputForms{
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;

}

.modal__input--errors{
    border-color: red;
}
.modal__inputErrors:focus{
    border-color: red;
    outline-color:red;
    outline:none;
}
.modal__inputErrors:active{
    border-color: red;
    outline-color:red;
    outline:none;
}

.modal__inputError{
    color: red;
    font-size: 10px;
    
}
.modal__formError{
    color:white;
    background-color: red;
    border-color: red;
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    height: 45px;
    text-align: center
}