.main__section{
    width: 100%;
    height: 100%;
}

.main__container{
    display: flex;
    flex-direction: column;              
    margin: 40px 0px;       
}

.main__subContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;

}

.main__containerText{
    color: #1b2c50;
    line-height: 60px;
    font-size: 39px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    margin: 0px;
}

.main__containerChips{
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.main__chip{
    width: 180px;
    height: 60px;
    color:#1b2c50;;
    background-color: #a8e655;
    font-size: 11px;
    line-height: 18px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
 
}

.main__containerModal{

    display: flex;
    flex-direction: row; 
    width: 550px;
    gap:20px;
    margin-top: 30px;

}

.main__button{
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    padding: 0px;
    border: 0;
}

.main__textInfo{
    margin-top: 30px;
    display: flex;
    flex-direction: row; 
    width: 530px;
    gap:20px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 25px;
    font-weight: 600;
    align-items: center;
}